# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase logs
firebase-debug.log*
.firebase/
firestore-debug.log*
ui-debug.log*

# Firebase Hosting
# ビルド済みのファイル（distやbuild）自体はGit管理せず、
# ソースコードから生成するのが一般的です
dist/
build/
out/

# Firebase Emulators (エミュレータ用データ)
.emulator/